[MAIN]
ignore-patterns=__init__.py
jobs=0

[MESSAGES CONTROL]
confidence=HIGH

[LOGGING]
logging-modules=logging
logging-format-style=old

[MISCELLANEOUS]
notes=FIXME,XXX,TODO

[FORMAT]
max-line-length=80
ignore-long-lines=^\s*(# )?<?https?://\S+>?$

[BASIC]
variable-rgx=[a-z_][a-z0-9_]{1,30}$
